<header class="navbar navbar‐fixed‐top navbar‐inverse">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">eラーニング</a>
            <ul class="nav navbar-nav">
                <li><%= link_to "トップページ", root_path %></li>
                <% if logged_in? %>
                <% else %>
                  <li><%= link_to "ログイン", login_path %></li>
                  <li><%= link_to "ユーザー登録", signup_path %></li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>
</header>